<p>This is the body of main index.</p>

<!-- assets defined in  manifest.json in the public/assets directory -->
<img src="<%= webpack_manifest_path("images/youtube.png") %>" />
<link href="<%= webpack_manifest_path("common.css") %>" rel="stylesheet" type="text/css">
<script src="<%= webpack_manifest_path("common.js") %>"></script>
